<div class="d-flex">
  <div class="d-inline col-2 col-md-2 h-100">
    <div class="patient-picture mx-auto d-flex">
      <div class="my-auto mx-auto">
        <img src="../../assets/file.png" class="w-100 p-1"/>
      </div>
    </div>
  </div>
  <div class="d-inline col-10 col-md-10 h-100">
    <div class="d-block">
      <label class="col-12 p-0">
        Informed consent ACHF Registry
      </label>
      <div class="col-12 d-flex p-0">
        <div class="mr-5">
          <input type="radio" name="achf" class="d-inline my-auto"> YES
        </div>
        <div class="mr-5">
          <input type="radio" name="achf" class="d-inline my-auto"> NO
        </div>
        <div class="mr-5">
          <input type="radio" name="achf" class="d-inline my-auto" checked> N/A
        </div>
      </div>
    </div>
    <div class="d-block">
      <label class="col-12 mt-2 p-0">
        Attach consent document
      </label>
      <button class="btn btn-secondary">
        <input type="file" name="achf" class="d-inline my-auto">
        Select file ...
      </button>
      <label class="col-12 mt-3 p-0">Select file from your computer</label>
    </div>
  </div>
</div>
