<div class="d-flex justify-content-center mt-3">
  <!--Form Content-->
  <div class="col-12 col-md-3 p-0 full-shadow">

    <!--Header-->
    <div class="d-flex justify-content-between template-header">

      <div class="my-auto header-content-left"><span>Patient Summary</span></div>

      <div class="my-auto"><span class="header-content-right"> X </span></div>

    </div>

    <div style="background-color: #F0F0F0; height: 80px;" class="d-flex  pl-3 pr-4 template-header-details">

      <div class="patient-picture my-auto d-flex">
        <div class="my-auto mx-auto">NN</div>
      </div>

      <div class="my-auto d-flex">
        <div class="my-auto mx-auto pl-3">
          <div class="large-heading">Patient name</div>
          <div class="small-heading">Patient data</div>
        </div>
      </div>
    </div>
    <app-nav-bar></app-nav-bar>

    <div class="patient-form-details">
      <!--Form Details-->
    </div>

    <div class="template-footer d-flex justify-content-between">

      <div class="my-auto float-left pl-3 ">
        <a href="#">Back</a>
      </div>
      <div class="my-auto float-right pr-2">
        <button class="btn button">Cancel</button>
        <button class="btn green">Next</button>
      </div>
    </div>

  </div>
</div>
