<div *ngIf="expanded" class="full-shadow w-100">
<div class="tab-regular" (click)="selectTab('data')">Patient Data</div>
<div [ngClass]="{disabled: !validForms.patientDataForm}" class="tab-regular" (click)="selectTab('person')">Related person</div>
<div [ngClass]="{disabled: !validForms.relatedPersonForm}" class="tab-regular" (click)="selectTab('consent')">Consent</div>
<div class="next-tab" (click)="clickExpanded()">...</div>
  <div *ngIf="shownExpanded" class="extended-div" (click)="expandFormsActive()">Extended forms</div>


</div>

<!--<div *ngIf="!expanded">-->
  <!--<div class="tab-expanded" (click)="toggleHighlight(1)" [ngClass]="{'tab-blue': isActive===1}">Patient Data</div>-->
  <!--<div class="tab-expanded" (click)="toggleHighlight(2)" [ngClass]="{'tab-blue': isActive===2}">Related person</div>-->
  <!--<div class="tab-expanded" (click)="toggleHighlight(3)" [ngClass]="{'tab-blue': isActive===3}">Consent</div>-->
  <!--<div class="next-tab" (click)="click()">...</div>-->
<!--</div>-->
<ol *ngIf="!expanded" class="breadcrumb full-shadow breadcrumb-arrow w-100" >
  <li><a href="#" (click)="selectTab('data')">Patient data</a></li>
  <li [ngClass]="{disabled: checkEnabled('person',validForms)}"><a href="#" (click)="selectTab('person')">Related person</a></li>
  <li [ngClass]="{disabled: checkEnabled('consent',validForms)}"><a href="#" (click)="selectTab('consent')">Consent</a></li>
  <div class="next-tab"  style="width: 25%" (click)="clickNotExpanded()">...</div>
  <div *ngIf="shownNotExpanded" class="extended-div-checkmark" (click)="expandFormsNotActive()">Extended forms</div>


</ol>


