
@font-face {
  font-family: Lato-Regular;
  src: url("/src/assets/Lato-Regular.ttf")
}


//FORM COLORS
$top-header-darkgrey: #787C87;
$header-lightgray: #999999;
$main-gray: #CCCCCC;
$placeholder-gray: #BCBCBC;
$input-font-color: #333333;
$selected-tab-blue: #2978CC;
$confirm-button-green: #5EDB71;
$footer-bgc: #F7F7F7;
$border-color: #DEDEDE;

//FORM FONTS
$main-font: Lato-Regular;
$label-fontsize: 12px;
$placeholder-fontsize: 16px;
$input-fontweight: 700;
$input-fontsize: 16px;
$heading-big-header-fontsize: 20px;
$heading-small-fontsize: 14px;


//FORM DOM SIZES
$all-input-height: 32px;

$large-input-width: 352px;
$medium-input-width: 168px;
$small-input-width: 80px;

$button-width: 80px;
$button-height: 30px;

//MISC images

$arrow-down: url(http://d2v8ggac1o0f6z.cloudfront.net/gsc/5TZG2L/c2/dc/f7/c2dcf7e2ec1241eb923f3a547aa92cf7/images/patient/u4569.png?token=6dcccdee0f1ab8bde560ce3f8b83d75d);
$angel: url(http://d26uhratvi024l.cloudfront.net/gsc/5TZG2L/c2/dc/f7/c2dcf7e2ec1241eb923f3a547aa92cf7/images/patient/u5483.png?token=6acdce041cfefc6c9f52fbf4dab042cd);
$paper: url(http://d26uhratvi024l.cloudfront.net/gsc/5TZG2L/c2/dc/f7/c2dcf7e2ec1241eb923f3a547aa92cf7/images/patient_demographic___consent/u11491.png?token=6cddcc1e095e2bba5391efe709613f3f);

//MIXINS
@mixin generic-input($width, $height) {
  ::-webkit-input-placeholder {
    font-size: $placeholder-fontsize;
    font-style: italic;
    color: $placeholder-gray;
  }
  ::-moz-placeholder {
    font-size: $placeholder-fontsize;
    font-style: italic;
    color: $placeholder-gray;
  }
  :-ms-input-placeholder {
    font-size: $placeholder-fontsize;
    font-style: italic;
    color: $placeholder-gray;

  };
  font-weight: $input-fontweight;
  font-size: $input-fontsize;
  width: $width;
  height: $height;
}

@mixin button() {
  width: $button-width;
  height: $button-height;
  text-align: center;
  font-size: 14px;
  border-width: 0px;
  border: 1px solid $main-gray;
  margin-right: 5px;

}

//CLASSES

body{
font-family: $main-font;
color: $main-gray;
}

.generic-label {
  font-size: $label-fontsize;
}

.small-input {
  @include generic-input($small-input-width, $all-input-height)
}

.medium-input {
  @include generic-input($medium-input-width, $all-input-height)

}
.large-input {
  @include generic-input($large-input-width, $all-input-height)

}

.large-heading {
  color: $header-lightgray;
  font-size: $heading-big-header-fontsize;
  font-style: italic;
  font-weight: 500;
}
.small-heading {
  color: $header-lightgray;
  font-size: $heading-small-fontsize;
  font-style: italic;
  font-weight: 500;

}

.circle {
  background-color: $main-gray;
  border-radius: 50%;
}

.shadow {
  -webkit-box-shadow: 0 10px 4px -4px $border-color;
  -moz-box-shadow: 0 10px 4px -4px $border-color;
  box-shadow: 0 10px 4px -4px $border-color;
}

.full-shadow {
  -webkit-box-shadow: 8px 8px 15px $border-color;
  -moz-box-shadow: 8px 8px 15px $border-color;
  box-shadow: 8px 8px 15px $border-color;
}

input, label, select {
  display: block;
}
.button {
  @include button();
  color: #61646D;
  background-color: white;

}
.green {
  @include button();
  background-color: $confirm-button-green;
  color: white;
}


